* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    
    background-color: #EDEDE9;
    margin: 0 auto;
    
}

#container {
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    
}

.img-container {
    width: 100%;
    height: 100%;
}

.img-container img {
    width: 100%;
    height: 100%
}

#right-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    
}

#right-container img {
    height: 90%;
}

#left-container {
    display: flex;
    width: 40%;
    height: 100%;
}

#btn-google {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 15%;
}
