#btn-google button {
    width: 242px;
    height: 56px;
    border-radius: 10px;
    background-color: #577590;
    color: #FFFFFF;
    font-weight: 600;
    align-items: center;
    font-family: "Inter";
}