@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* border: 0; */
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0 auto;
  /* background-color: #EDEDE9; */
}

#root {
  display: flex;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
}

.selected {
  text-decoration: underline;
}

/* input[type="checkbox"]:checked + label {
  background: url("./assets/checkmark.svg") no-repeat;
  height: 16px;
  width: 17px;
  display: inline-block;
  padding: 0 0 0 0px;
} */
